{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	{% tailwind_css %}
	<style>
		.dropdown-menu {
			display: none;
		}

		.dropdown-menu.show {
			display: block;
		}
	</style>
</head>

<body class="relative text-black font-inter">
	{% include 'app/header.html' %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	<div class="container px-4 mx-auto">
		{% block content %} {% endblock %}
	</div>
	<!-- {% include 'app/footer.html' %} -->
	<script>
		const redirectTo = (id) => {
			window.location.href = `/details/${id}`;

		};
		function formatCurrency(value) {
			return Intl.NumberFormat("de-DE", {
				maximumSignificantDigits: 10,
			}).format(value);
		}
		const formatDate = (date, date_alternative, time) => {

			const elemDate = new Date(date).setHours(0, 0, 0, 0)
			const dayDiff = (today - elemDate) / (1000 * 60 * 60 * 24);
			if (dayDiff === 0) {
				date = `Сегодня, ${time}`;
			} else if (dayDiff === 1) {
				date = `Вчера, ${time}`;
			}
			else {
				date = date_alternative
			}
			return date
		}

	</script>
	<script src="{% static 'js/imask.js'%}"></script>
	<script src="{% static 'js/lang.js'%}"></script>
	<script src="{% static 'js/flowbite.min.js' %}"></script>

	{% block externals %}
	{% endblock externals %}
</body>

</html>