{% extends 'app/base.html' %} {% block content %}
<section class="container mx-auto px-16">
	<div class="grid grid-cols-12 gap-x-5">
		<!-- Image -->
		<div class="flex col-span-6 gap-x-3">
			<div class="flex flex-col w-36 gap-y-3">
				<img src="/media/{{post.images.first.image}}" alt="" class="aspect-[152/167] rounded-2xl"/>
				<img src="/media/{{post.images.first.image}}" alt="" class="aspect-[152/167] rounded-2xl"/>
				<img src="/media/{{post.images.first.image}}" alt="" class="aspect-[152/167] rounded-2xl"/>
			</div>
			<div class="flex-1">
				
			<img src="/media/{{post.images.first.image}}" alt="" class="h-full rounded-2xl"/>
			</div>
		</div>
		<!-- Details -->
		<div class="col-span-6">
			<h1 class="mb-4 text-3xl font-bold">{{post.title}}</h1>
			<p class="mb-6 text-gray-600">
				{{post.content}}
			</p>
			<p class="mb-4 text-2xl font-bold text-green-600 price">{{post.price}}</p>

			<!-- Category -->
			<div class="mb-4">
				<span
					class="inline-block rounded-full bg-blue-100 px-2 py-1 text-xs font-semibold uppercase tracking-wide text-blue-800">Category:
					{{post.category}}</span>
			</div>
			
			<!-- Seller Information -->
			<div class="mb-6">
				<h2 class="mb-2 text-xl font-bold">Seller Information</h2>
				<p class="text-gray-700">{{post.creator.username}}</p>
				<p class="text-gray-700">{{post.creator.email}}</p>
				<p class="text-gray-700">{{post.creator.profile.contact}}</p>
			</div>

			<!-- Contact Seller Button -->
			<div>
				<a class="rounded-lg bg-blue-600 px-6 py-3 font-bold text-white"
					href="{% url 'messenger:private-chat' request.user.username post.creator.username%}">
					Contact Seller
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
{% block externals %}
<script>
	var price_el = document.querySelector('.price')
	price_el.innerText = formatCurrency(price_el.innerText)
</script>
{% endblock externals %}