{% extends 'users/base.html' %}
{% block content %}
<div class="w-2/5 pl-12 pr-24 my-auto">
	<form class="flex flex-col" method="post">
		{% csrf_token%}{% if messages %} {% for msg in messages %}

		<div class="alert alert-{{msg.level_tag}} " role="alert">
			{{msg.message}}
		</div>

		{% endfor %} {% endif %}
		<span class="mb-2 text-3xl font-bold">Welcome 👋</span>
		<span class="mb-7 text-[#A4A1AA]">Please login here</span>
		<span class="mb-1 text-xs">Username</span>
		{{form.username}}
		<span class="mb-1 text-xs">Password</span>
		{{form.password}}
		<div class="flex items-center justify-between mb-7">
			<button
				onclick="toggle_checkbox()"
				class="flex items-center"
				type="button"
			>
				<input
					type="checkbox"
					id=""
					name="user_remember"
					class="text-yellow size-4"
				/>
				<label for="" class="ml-2">Remember me</label>
			</button>
			<a
				href="{% url 'users:password_reset'%}"
				class="hover:underline"
				>Forgot Password?</a
			>
		</div>
		<button
			class="py-4 text-white bg-yellow rounded-xl mb-7"
			type="submit"
		>
			Login
		</button>
		<a
			href="{% url 'users:register'%}"
			class="text-[#A4A1AA] self-center hover:underline"
			>Didn't signed up yet?</a
		>
	</form>
</div>
{% endblock content %}
<!-- <h1>Авторизация</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Войти</button></p>

    <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
</form> -->