{% extends "users/base.html" %}
{% load i18n %}

{% block content %}
<div class="flex flex-col w-2/5 pl-12 pr-24 my-auto">
    
	<span class="mb-2 text-3xl font-bold">Password Reset</span>

    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <hr class="py-3">
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

</div>

{% endblock %}
