{% extends 'users/base.html' %}
{% block content %}
<div class="w-2/5 pl-12 pr-24 my-auto">
	<form class="flex flex-col" method="post">
		{% csrf_token%}{% if messages %} {% for msg in messages %}

		<div class="alert alert-{{msg.level_tag}} " role="alert">
			{{msg.message}}
		</div>

		{% endfor %} {% endif %}
		<span class="mb-2 text-3xl font-bold">Create New Account</span>
		<span class="mb-7 text-[#A4A1AA]">Please enter details</span>
		<div class="pb-4">
			{% for f in form %}
		<div><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
		<!-- <div class="form-error">{{ f.errors }}</div> -->
		{% endfor %}
		</div>
		<!-- <button
			onclick="toggle_checkbox()"
			class="flex items-center mb-7"
			type="button"
		>
			<input
				type="checkbox"
				id=""
				name="user_remember"
				class="text-yellow size-4"
			/>
			<label for="" class="ml-2"
				>I agree to the
				<span class="font-bold">Terms & Conditions</span></label
			>
		</button> -->
		<button
			class="py-4 mb-4 text-white bg-yellow rounded-xl"
			type="submit"
		>
			Login
		</button>
		<a
			href="{% url 'users:login'%}"
			class="text-[#A4A1AA] self-center hover:underline"
			>Already have an account?</a
		>
	</form>
</div>
{% endblock content %}